<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Chat App</title>
  <script defer src="socket.io/socket.io.js"></script>
  <script defer src="script.js"></script>
  
</head>
<style>
  #roomForm{
    position: fixed;
    bottom: 5%;
    width: 80%;
    left: 10%;
  }
  #roomForm input{
    border-radius: 20px;
    border-color: black;
    width: 80%;
    font-size: 18px;
  }#roomForm button{
    border-radius: 20px;
    height: 30px;
  }
  #roomForm input,button{
   display: inline;
  }
</style>
<body>
  <div id="room-container">
    <% Object.keys(rooms).forEach(room => { %>
      <div><%= room %></div>
      <a href="/<%= room %>">Join</a>
    <% }) %>
  </div>
  <form action="/room" method="POST" id="roomForm">
    <input name="room" type="text" required>
    <button type="submit">+</button>
  </form>
</body>
</html>